<!-- main container -->
<div class="dd-main-container" (click)="toggleList($event)">
  <!-- current selection -->
  <div class="dd-selected-text">{{selectedItem.text}}</div>
  <!-- drop down button -->
  <div class="dd-icon">
    <fa-icon [icon]="['fas', 'angle-down']"></fa-icon>
  </div>

  <!-- list items container -->
  <div class="dd-items-container-parent" [ngClass]="{'dd-show-list': showItems}">
    <div class="dd-items-container">
      <div *ngFor="let item of items" class="dd-item">
        <div>{{item.text}}</div>
      </div>
    </div>

  </div>

</div>  <!-- main container ends -->
